include "./cfg/animation.kdl"
include "./cfg/autostart.kdl"
include "./cfg/keybinds.kdl"
include "./cfg/input.kdl"
include "./cfg/display.kdl"
include "./cfg/layout.kdl"
include "./cfg/rules.kdl"
include "./cfg/misc.kdl"

spawn-at-startup "noctalia"

window-rule {
    // Rounded corners for a modern look.
    geometry-corner-radius 20

    // Clips window contents to the rounded corner boundaries.
    clip-to-geometry true
}

// Floating Noctalia settings window.
window-rule {
    match app-id="dev.noctalia.Noctalia"
    open-floating true
    default-column-width { fixed 1080; }
    default-window-height { fixed 920; }
}

debug {
    // Allows notification actions and window activation from Noctalia.
    honor-xdg-activation-with-invalid-serial
}

binds {
    // Core Noctalia binds
    Mod+Space { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+S { spawn-sh "noctalia msg panel-toggle control-center"; }
    Mod+Comma { spawn-sh "noctalia msg settings-toggle"; }
    Alt+Tab { spawn-sh "noctalia msg window-switcher"; }

    // Audio & Brightness
    XF86AudioRaiseVolume { spawn-sh "noctalia msg volume-up"; }
    XF86AudioLowerVolume { spawn-sh "noctalia msg volume-down"; }
    XF86AudioMute { spawn-sh "noctalia msg volume-mute"; }
    XF86MonBrightnessUp { spawn-sh "noctalia msg brightness-up"; }
    XF86MonBrightnessDown { spawn-sh "noctalia msg brightness-down"; }

    // Botón de encendido/apagado -> bloquear pantalla
    XF86PowerOff { spawn-sh "noctalia msg session lock"; }
}

// Wallpaper difuminado en overview (Option 1)
layer-rule {
    match namespace="^noctalia-backdrop"
    place-within-backdrop true
}

// Blur detrás de ventanas normales
window-rule {
    background-effect {
        blur true
        xray false
    }
}

// Blur en las superficies de Noctalia (bar, panels, dock, notifications, osd)
layer-rule {
    match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
    background-effect {
        xray false
    }
}

// Blur en el window switcher de Noctalia
layer-rule {
    match namespace="noctalia-window-switcher"
    background-effect {
        blur true
        xray false
    }
}

// Ajuste fino del blur global
blur {
    passes 2
    offset 3.0
    noise 0.03
    saturation 1.0
}

include "noctalia.kdl"

window-rule {
    open-maximized true
}
