layout {

    focus-ring {
        active-color   "#9a67e4"
        inactive-color "#1b0d30"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#9a67e4"
        inactive-color "#1b0d30"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#1b0d3070"
    }

    tab-indicator {
        active-color   "#9a67e4"
        inactive-color "#400c8d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#9a67e480"
    }
}

recent-windows {
    highlight {
        active-color "#9a67e4"
        urgent-color "#fd4663"
    }
}
